@charset "UFT-8";

.container {
    background-color: gray;
    height: 500px;
    display: flex;

    flex-direction: row;
    /* column | row-reverse | column-reverse */

    flex-wrap: nowrap;
    /* wrap | wrap-reverse | */

    justify-content:space-between;
    /* flex-end | center | space-between | space-around */

    align-items: stretch;
    /* flex-start| flex-end| center| sapce-between| space-around */

    align-content: stretch;
    /* flex-start | flex-end| center|*/
}
.item {
    background-color: aqua;
    color: white;
    padding: 20px;
    margin: 5px;
    height: 30px;

   /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px; */

    flex: 1 1 300px;
}
.article-01 { flex-shrink: 3;}
/* .article-02 { }
   .article-03 { }
   .article-04  { }
 */