/* RESET */

*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
nav > li {
    list-style: none;
}
a:hover {
    opacity: 10px;
}

/* header */

 header {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
 }
 header img {
    width: 200px;
 }
 header > nav {
    display: flex;
 }
 header > li , a {
    color: black;
    margin: 5px;
 } 
 /* 
      header li:first-child {margin-left: 10px;}
      header li:first-child {margin-right: 10px;} 
 */
 @media screen and (max-width: 700px){
    header {
        flex-direction: column;
        
    }
    header img {
        margin-bottom: 15px;
    }
 }

/* hero */

.hero {
    background-image: url(../imagem/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero h1{
    color: #fff;
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.hero h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
}
.hero .btn {
    background-color: #fff;
    color: #191c03;
    border-radius: 5px;
    padding: 20px 50px;
    text-transform: uppercase;
}
@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h3 {
        font-size: 1.5rem;
    }
}

/* conheca o hotel */

.conheca-o-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.conheca-o-hotel h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: #191c03;
}
.conheca-o-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: #191c03;
}
.conheca-o-hotel hr {
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border: none;
}
.conheca-o-hotel .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.conheca-o-hotel li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    list-style: none;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.conheca-o-hotel .grid li.small {
    flex-basis: 40%;
}
.conheca-o-hotel .grid li.large {
    flex-basis: 60%;
}
@media (max-width: 700px) {
    .conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large {
        flex-basis: 100%;
    }
}

/* Caracteristicas */
.caracteristicas {
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.caracteristicas h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
}
.caracteristicas p {
    color: #fff;
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}
.caracteristicas hr {
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
}
.caracteristicas .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.caracteristicas li {
    color: #fff;
    text-align: center;
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    list-style: none;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}